* { margin: 0; }
html {
	--black: black;
	--white: white;
	--grey: DarkSlateGrey;
	--border: 2px solid var(--grey);

	font-family: sans-serif;
	color: var(--black);
	background: var(--white);
}

@media (prefers-color-scheme: dark) {
	html {
		--black: white;
		--white: #273043;
		--grey: LightGrey;
	}
}

main {
	padding: 0;
	max-width: min(100svw, 50rem);
	margin-inline: auto;
	text-align: justify;
	text-justify: inter-word;
}

h1 {
	font-family: serif;
	font-size: 2.5rem;
}

main > section {
	margin-top: 5rem;
}
