html {
	font-family: sans-serif;

	--border: 2px solid black;
}

main {
	padding: 0;
	max-width: min(100svw, 50rem);
	margin-inline: auto;
	text-align: justify;
	text-justify: inter-word;
}

section {
	margin-right: 1rem;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: var(--border);
	width: fit-content;
	position: relative;
	margin-left: 2rem;
	padding-left: 1rem;
	padding-right: 2rem;
	margin-bottom: 0.5rem;
}
h2::before {
	content: '';
	border: 2px solid black;
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: calc(100% - 0.5rem - 1px);
	left: -1.41rem;
	transform: rotate(45deg);
}

ul {
	margin: 10px calc(1rem + 2px);
	padding: 0;
	padding-top: 1rem;
	list-style: none;
	border-left: var(--border);
}

p {
	margin-left: calc(3rem + 2px);
}

li {
	padding-left: 2rem;
	padding-bottom: 1rem;
	position: relative;
}
li::before {
	content: '';
	border: 2px solid black;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	top: 0.5rem;
	left: calc(-0.5rem + 1px);
	transform: rotate(45deg);
	background: white;
}
li:last-child {
	padding-bottom: 1.75rem;
	
}
li:last-child::after {
	content: '';
	border: 2px solid black;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	top: calc(100% - 0.5rem + 3px);
	left: calc(-0.5rem + 1px);
	transform: rotate(45deg);
	background: white;
}
